[buildout]
develop = .
parts = cc.licenserdf
prefer-final = true
find-links =
    http://a9.creativecommons.org/~cwebber/eggs/
    http://code.creativecommons.org/basket/

[cc.licenserdf]
recipe=zc.recipe.egg
interpreter=python
entry-points = 
    nosetests=nose:run_exit
